@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
:root {
    --dark: #182727;
    --low-dark: #3c5148;
    --green-shade: #688e4e;
    --light-green: #b2c582;
    --light: #d5dddf;
}
ul {
    list-style: none;
}
body {
    padding: 0 !important;
    /* background-color: var(--light) !important; */
    font-family: "Baloo Bhaijaan 2", sans-serif;
}
/* ScrollBar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--low-dark); 
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--green-shade);
}

